html, body{
  width: 100%;
  text-align: center;
}

h1{
  color: red;
}

h1, h2{
  margin: 0 auto;
  width: fit-content;
}

section{
  display: inline-block;
  margin: 0 auto;
  padding: 5px;
  border: 10px solid black;
  border-radius: 5px;
  text-align: center;
  max-width: fit-content;
}
